::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
    }
    .cmsp2-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.125rem;
    padding-left: 1.125rem
    }
    @media (min-width: 640px) {
    .cmsp2-container {
    max-width: 640px
    }
    }
    @media (min-width: 768px) {
    .cmsp2-container {
    max-width: 768px
    }
    }
    @media (min-width: 1024px) {
    .cmsp2-container {
    max-width: 1024px;
    padding-right: 1.25rem;
    padding-left: 1.25rem
    }
    }
    @media (min-width: 1280px) {
    .cmsp2-container {
    max-width: 1280px;
    padding-right: 30px;
    padding-left: 30px
    }
    }
    @media (min-width: 1500px) {
    .cmsp2-container {
    max-width: 1500px
    }
    }
    .cmsp2-absolute {
    position: absolute
    }
    .cmsp2-relative {
    position: relative
    }
    .cmsp2-bottom-0 {
    bottom: 0px
    }
    .cmsp2-mb-6 {
    margin-bottom: 1.5rem
    }
    .cmsp2-mb-8 {
    margin-bottom: 2rem
    }
    .cmsp2-mt-5 {
    margin-top: 1.25rem
    }
    .cmsp2-block {
    display: block
    }
    .cmsp2-flex {
    display: flex
    }
    .cmsp2-grid {
    display: grid
    }
    .cmsp2-h-5 {
    height: 1.25rem
    }
    .cmsp2-w-5 {
    width: 1.25rem
    }
    .cmsp2-w-\[calc\(100\%_-_1\.25rem\)\] {
    width: calc(100% - 1.25rem)
    }
    .cmsp2-w-full {
    width: 100%
    }
    .cmsp2-w-max {
    width: max-content
    }
    .cmsp2-transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .cmsp2-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
    }
    .cmsp2-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .cmsp2-flex-col-reverse {
    flex-direction: column-reverse
    }
    .cmsp2-flex-wrap {
    flex-wrap: wrap
    }
    .cmsp2-items-start {
    align-items: flex-start
    }
    .cmsp2-items-center {
    align-items: center
    }
    .cmsp2-justify-between {
    justify-content: space-between
    }
    .cmsp2-gap-2 {
    gap: 0.5rem
    }
    .cmsp2-gap-2\.5 {
    gap: 0.625rem
    }
    .cmsp2-gap-6 {
    gap: 1.5rem
    }
    .cmsp2-gap-8 {
    gap: 2rem
    }
    .cmsp2-gap-x-3 {
    column-gap: 0.75rem
    }
    .cmsp2-gap-y-5 {
    row-gap: 1.25rem
    }
    .cmsp2-overflow-hidden {
    overflow: hidden
    }
    .cmsp2-border-b-2 {
    border-bottom-width: 2px
    }
    .cmsp2-border-bronze-10 {
    --tw-border-opacity: 1;
    border-color: rgb(193 154 91 / var(--tw-border-opacity))
    }
    .cmsp2-bg-container {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity))
    }
    .cmsp2-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }
    .cmsp2-px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem
    }
    .cmsp2-py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
    }
    .cmsp2-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
    }
    .cmsp2-\!pr-1 {
    padding-right: 0.25rem !important
    }
    .cmsp2-pb-12 {
    padding-bottom: 3rem
    }
    .cmsp2-pb-6 {
    padding-bottom: 1.5rem
    }
    .cmsp2-pl-\[1\.125rem\] {
    padding-left: 1.125rem
    }
    .cmsp2-pr-\[1\.125rem\] {
    padding-right: 1.125rem
    }
    .cmsp2-pt-2 {
    padding-top: 0.5rem
    }
    .cmsp2-pt-4 {
    padding-top: 1rem
    }
    .cmsp2-text-center {
    text-align: center
    }
    .cmsp2-font-bodoni_moda {
    font-family: Bodoni Moda, sans-serif
    }
    .cmsp2-text-\[15px\] {
    font-size: 15px
    }
    .cmsp2-text-\[26px\] {
    font-size: 26px
    }
    .cmsp2-text-base {
    font-size: 1rem;
    line-height: 1.5rem
    }
    .cmsp2-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
    }
    .cmsp2-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
    }
    .cmsp2-font-bold {
    font-weight: 700
    }
    .cmsp2-font-semibold {
    font-weight: 600
    }
    .cmsp2-uppercase {
    text-transform: uppercase
    }
    .cmsp2-leading-\[19px\] {
    line-height: 19px
    }
    .cmsp2-leading-\[36px\] {
    line-height: 36px
    }
    .cmsp2-text-bronze-10 {
    --tw-text-opacity: 1;
    color: #ffA500;
    }
    .cmsp2-text-gray-104 {
    --tw-text-opacity: 1;
    color: rgb(106 106 106 / var(--tw-text-opacity))
    }
    .cmsp2-underline {
    text-decoration-line: underline
    }
    .cmsp2-transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
    }
    .cmsp2-duration-700 {
    transition-duration: 700ms
    }
    .cmsp2-ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }
    .cmsp2-hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
    }
    .cmsp2-group\/box:hover .group-hover\/box\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .cmsp2-group\/box:hover .group-hover\/box\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .cmsp2-group\/box:hover .group-hover\/box\:text-bronze-10 {
    --tw-text-opacity: 1;
    color: #ffA500;
    }
    @media (min-width: 475px) {
    .cmsp2-xs\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    }
    @media (min-width: 640px) {
    .cmsp2-sm\:mb-9 {
    margin-bottom: 2.25rem
    }
    .cmsp2-sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .cmsp2-sm\:gap-12 {
    gap: 3rem
    }
    .cmsp2-sm\:py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
    }
    .cmsp2-sm\:pb-14 {
    padding-bottom: 3.5rem
    }
    .cmsp2-sm\:text-\[28px\] {
    font-size: 28px
    }
    .cmsp2-sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem
    }
    }
    @media (min-width: 768px) {
    .cmsp2-md\:ml-auto {
    margin-left: auto
    }
    .cmsp2-md\:mt-6 {
    margin-top: 1.5rem
    }
    .cmsp2-md\:h-6 {
    height: 1.5rem
    }
    .cmsp2-md\:w-1\/2 {
    width: 50%
    }
    .cmsp2-md\:w-6 {
    width: 1.5rem
    }
    .cmsp2-md\:w-\[calc\(100\%_-_1\.5rem\)\] {
    width: calc(100% - 1.5rem)
    }
    .cmsp2-md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
    }
    .cmsp2-md\:flex-row {
    flex-direction: row
    }
    .cmsp2-md\:flex-nowrap {
    flex-wrap: nowrap
    }
    .cmsp2-md\:gap-10 {
    gap: 2.5rem
    }
    .cmsp2-md\:gap-8 {
    gap: 2rem
    }
    .cmsp2-md\:gap-x-4 {
    column-gap: 1rem
    }
    .cmsp2-md\:gap-y-8 {
    row-gap: 2rem
    }
    .cmsp2-md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
    }
    .cmsp2-md\:px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem
    }
    .cmsp2-md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
    }
    .cmsp2-md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
    }
    .cmsp2-md\:py-2\.5 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem
    }
    .cmsp2-md\:pb-16 {
    padding-bottom: 4rem
    }
    .cmsp2-md\:pb-8 {
    padding-bottom: 2rem
    }
    .cmsp2-md\:pl-0 {
    padding-left: 0px
    }
    .cmsp2-md\:pl-10 {
    padding-left: 2.5rem
    }
    .cmsp2-md\:pl-\[20px\] {
    padding-left: 20px
    }
    .cmsp2-md\:pl-\[calc\(\(100\%_-_768px\)_\/_2\)\] {
    padding-left: calc((100% - 768px) / 2)
    }
    .cmsp2-md\:pr-0 {
    padding-right: 0px
    }
    .cmsp2-md\:pr-10 {
    padding-right: 2.5rem
    }
    .cmsp2-md\:pr-\[calc\(\(100\%_-_768px\)_\/_2\)\] {
    padding-right: calc((100% - 768px) / 2)
    }
    .cmsp2-md\:pt-5 {
    padding-top: 1.25rem
    }
    .cmsp2-md\:pt-7 {
    padding-top: 1.75rem
    }
    .cmsp2-md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
    }
    .cmsp2-md\:text-\[15px\] {
    font-size: 15px
    }
    .cmsp2-md\:text-\[22px\] {
    font-size: 22px
    }
    .cmsp2-md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
    }
    .cmsp2-md\:leading-\[22px\] {
    line-height: 22px
    }
    .cmsp2-md\:leading-\[40px\] {
    line-height: 40px
    }
    }
    @media (min-width: 1024px) {
    .cmsp2-lg\:mt-8 {
    margin-top: 2rem
    }
    .cmsp2-lg\:h-7 {
    height: 1.75rem
    }
    .cmsp2-lg\:w-7 {
    width: 1.75rem
    }
    .cmsp2-lg\:w-\[calc\(100\%_-_1\.75rem\)\] {
    width: calc(100% - 1.75rem)
    }
    .cmsp2-lg\:gap-16 {
    gap: 4rem
    }
    .cmsp2-lg\:gap-5 {
    gap: 1.25rem
    }
    .cmsp2-lg\:gap-x-6 {
    column-gap: 1.5rem
    }
    .cmsp2-lg\:gap-y-14 {
    row-gap: 3.5rem
    }
    .cmsp2-lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
    }
    .cmsp2-lg\:pb-10 {
    padding-bottom: 2.5rem
    }
    .cmsp2-lg\:pb-20 {
    padding-bottom: 5rem
    }
    .cmsp2-lg\:pl-12 {
    padding-left: 3rem
    }
    .cmsp2-lg\:pl-5 {
    padding-left: 1.25rem
    }
    .cmsp2-lg\:pl-\[20px\] {
    padding-left: 20px
    }
    .cmsp2-lg\:pl-\[calc\(\(100\%_-_1024px\)_\/_2\)\] {
    padding-left: calc((100% - 1024px) / 2)
    }
    .cmsp2-lg\:pr-12 {
    padding-right: 3rem
    }
    .cmsp2-lg\:pr-5 {
    padding-right: 1.25rem
    }
    .cmsp2-lg\:pr-\[calc\(\(100\%_-_1024px\)_\/_2\)\] {
    padding-right: calc((100% - 1024px) / 2)
    }
    .cmsp2-lg\:pt-3 {
    padding-top: 0.75rem
    }
    .cmsp2-lg\:pt-8 {
    padding-top: 2rem
    }
    .cmsp2-lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
    }
    .cmsp2-lg\:text-\[17px\] {
    font-size: 17px
    }
    .cmsp2-lg\:text-\[33px\] {
    font-size: 33px
    }
    .cmsp2-lg\:leading-\[44px\] {
    line-height: 44px
    }
    }
    @media (min-width: 1280px) {
    .cmsp2-xl\:mt-12 {
    margin-top: 3rem
    }
    .cmsp2-xl\:gap-20 {
    gap: 5rem
    }
    .cmsp2-xl\:gap-24 {
    gap: 6rem
    }
    .cmsp2-xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
    }
    .cmsp2-xl\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
    }
    .cmsp2-xl\:pb-24 {
    padding-bottom: 6rem
    }
    .cmsp2-xl\:pl-20 {
    padding-left: 5rem
    }
    .cmsp2-xl\:pl-\[30px\] {
    padding-left: 30px
    }
    .cmsp2-xl\:pl-\[calc\(\(100\%_-_1280px\)_\/_2\)\] {
    padding-left: calc((100% - 1280px) / 2)
    }
    .cmsp2-xl\:pr-20 {
    padding-right: 5rem
    }
    .cmsp2-xl\:pr-\[30px\] {
    padding-right: 30px
    }
    .cmsp2-xl\:pr-\[calc\(\(100\%_-_1280px\)_\/_2\)\] {
    padding-right: calc((100% - 1280px) / 2)
    }
    .cmsp2-xl\:pt-4 {
    padding-top: 1rem
    }
    .cmsp2-xl\:pt-7 {
    padding-top: 1.75rem
    }
    .cmsp2-xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
    }
    .cmsp2-xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
    }
    .cmsp2-xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
    }
    .cmsp2-xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem
    }
    .cmsp2-xl\:leading-\[25px\] {
    line-height: 25px
    }
    .cmsp2-xl\:leading-\[50px\] {
    line-height: 50px
    }
    }
    @media (min-width: 1500px) {
    .cmsp2-\32xl\:gap-36 {
    gap: 9rem
    }
    .cmsp2-\32xl\:pl-\[100px\] {
    padding-left: 100px
    }
    .cmsp2-\32xl\:pl-\[30px\] {
    padding-left: 30px
    }
    .cmsp2-\32xl\:pl-\[calc\(\(100\%_-_1480px\)_\/_2\)\] {
    padding-left: calc((100% - 1480px) / 2)
    }
    .cmsp2-\32xl\:pr-\[100px\] {
    padding-right: 100px
    }
    .cmsp2-\32xl\:pr-\[calc\(\(100\%_-_1480px\)_\/_2\)\] {
    padding-right: calc((100% - 1480px) / 2)
    }
    .cmsp2-\32xl\:pr-\[calc\(\(100\%_-_1500px\)_\/_2\)\] {
    padding-right: calc((100% - 1500px) / 2)
    }
    .cmsp2-\32xl\:text-\[28px\] {
    font-size: 28px
    }
    .cmsp2-\32xl\:leading-\[27px\] {
    line-height: 27px
    }
    }